<form novalidate>
    <div class="row">
        <div class="col s6">
            <input name="group" value="male" type="radio" id="male" ng-model="$ctrl.ninja.gender" />
            <label for="male">Male</label>
        </div>
        <div class="col s6">
            <input name="group" value="female" type="radio" id="female" ng-model="$ctrl.ninja.gender" />
            <label for="female">Female</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input id="first_name" type="text" class="validate" ng-model="$ctrl.ninja.name.first">
            <label for="first_name" class="active">First Name</label>
        </div>
        <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate" ng-model="$ctrl.ninja.name.last">
            <label for="last_name" class="active">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input id="age" type="number" class="validate" ng-model="$ctrl.ninja.age">
            <label for="age" class="active">Age</label>
        </div>
        <div class="input-field col s12 m6">
            <input id="clan" type="text" class="validate" ng-model="$ctrl.ninja.clan">
            <label for="clan" class="active">clan</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="eyecolor" type="text" class="validate" ng-model="$ctrl.ninja.eyeColor">
            <label for="eyecolor" class="active">Eyes color</label>
        </div>
    </div>
    <div class="btn red waves-effect" ng-if="$ctrl.onRemove" ng-click="$ctrl.onRemove()">Delete</div>
    <div class="btn blue waves-effect" ng-if="$ctrl.mode === 'edit'" ng-click="$ctrl.onSave()">Save</div>
    <div class="btn blue waves-effect" ng-if="$ctrl.mode === 'add'" ng-click="$ctrl.onSave()">Add</div>
</form>